<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.html') %>
</head>

<body>
    <%- include ('partials/navigation.html') %>
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img class="p-5" src="/img/duende.png" alt="Logo Web">

                <!-- SECCION UNO -->
                <div class="container bg-light" id="articulo">
                    <div class="col-sm-12 text-center p-5">
                        <h2 class="gavoig text-center">GAVOIG</h2>
                        <h4 class="gavoig text-center">Contact</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi corporis quasi commodi
                            consectetur libero quo. Sapiente tempora nisi voluptatem nam similique blanditiis hic
                            expedita exercitationem officia eos? Expedita, rem eos?</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi corporis quasi commodi
                            consectetur libero quo. Sapiente tempora nisi voluptatem nam similique blanditiis hic
                            expedita exercitationem officia eos? Expedita, rem eos?</p>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>

</html>