<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.html') %>
</head>

<body>
    <%- include ('partials/navigation.html') %>
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img class="p-5" src="/img/mago.png" alt="Logo Web">

                <!-- SECCION UNO -->
                <div class="container bg-light" id="articulo">
                    <div class="col-sm-12 text-center p-5">
                        <h2 class="gavoig text-center">GAVOIG</h2>
                        <h4 class="gavoig text-center">Home</h4>
                        <p>Esta pagina web se esta creando en base a un tutorial en Youtube. El canal de esta persona
                            es: <a href="https://www.youtube.com/channel/UCX9NJ471o7Wie1DQe94RVIg" target="_blank"
                                rel="noopener noreferrer">Fatz</a> y el titulo del video es: <a
                                href="https://www.youtube.com/watch?v=sh-NanMOh1Q&t=2030s" target="_blank"
                                rel="noopener noreferrer">'Tu primer Página Web en
                                Nodejs'</a> . La realidad es que mi proyecto esta levemente modificado para que sea
                            distinto al
                            del tutorial. Por mi parte, elegi darle un aspecto <strong>'mágico'</strong> por asi
                            decirlo.</p>
                        <p>Por ejemplo si vas a la pestaña <a href="/contact" target="_blank"
                                rel="noopener noreferrer">'Contact'</a> te puedes encontrar con un icono de una Hada o
                            Elfa, como tu lo prefieras llamar.</p>
                        <p>Por el momento voy a dejarlo de esta manera como para terminarlo luego y en un futuro me
                            agrego como tarea hacer el <strong>BackEnd</strong>.</p>
                        <div>Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik"
                                title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"
                                title="Flaticon">www.flaticon.es</a></div>

                    </div>
                </div>
            </div>
        </header>
    </div>
</body>

</html>